In [200]:
import numpy as np
import pandas as pd

# Demographic Data Analyzer

We analyze demographic data using Pandas, given a dataset of demographic data that was extracted from the 1994 Census database. Here is a sample of what the data looks like:

In [219]:
df = pd.read_csv('files/adult.data.csv', na_values = ['?'])

df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

Using Pandas to get the answer to the following questions:
* How many people of each race are represented in this dataset?

In [212]:
race_count = df['race'].value_counts()

print(race_count)

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

* What is the average age of men?

In [213]:
mask = df['sex'] == 'Male'
average_age_men = df[mask]['age'].mean().round(1)

print(average_age_men)

39.4

* What is the percentage of people who have a Bachelor's degree?

In [221]:
mask = (df['education'] == 'Bachelors')
percentage_bachelors = df[mask].size / df.size

print("{:.2%}".format(percentage_bachelors))

16.45%

* What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

In [247]:
mask = ((df['education'] == 'Bachelors') | (df['education'] == 'Masters') | 
        (df['education'] == 'Doctorate'))
higher_education = df[mask]
higher_education_rich = higher_education[(higher_education['salary'] == '>50K')].size / higher_education.size 

print("{:.2%}".format(higher_education_rich))

46.54%

* What percentage of people without advanced education make more than 50K?

In [251]:
mask = ~((df['education'] == 'Bachelors') | (df['education'] == 'Masters') | 
        (df['education'] == 'Doctorate'))
lower_education = df[mask]
lower_education_rich = lower_education[(lower_education['salary'] == '>50K')].size / lower_education.size 

print("{:.2%}".format(lower_education_rich))

17.37%

* What is the minimum number of hours a person works per week?

In [252]:
min_work_hours = df['hours-per-week'].min()

print(min_work_hours)

1

* What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [264]:
mask = (df['hours-per-week'] == min_work_hours)
num_min_workers = df[mask]
rich_percentage = num_min_workers[num_min_workers['salary'] == '>50K'].size / num_min_workers.size

print("{:.2%}".format(rich_percentage))

10.00%

* What country has the highest percentage of people that earn >50K?

In [317]:
mask = df['salary'] == '>50K'
rich_country = df['native-country'][mask].value_counts()

highest_earning_country = round(rich_country / df['native-country'].value_counts() * 100,2).max()
print(highest_earning_country)

Iran

and what is that percentage?

In [335]:
print("{}%".format(round(rich_country / df['native-country'].value_counts() * 100,2).max()))

41.86%

* Identify the most popular occupation for those who earn >50K in India.

In [343]:
mask = ((df['salary'] == '>50K') & (df['native-country'] == 'India'))
top_IN_occupation = df[mask]['occupation'].value_counts().idxmax()

print(top_IN_occupation)

Prof-specialty

Use the starter code in the file `demographic_data_anaylizer`. Update the code so all variables set to "None" are set to the appropriate calculation or code. Round all decimals to the nearest tenth.

In [344]:
def calculate_demographic_data(print_data=True):
    
    # Reading data from file
    df = pd.read_csv('files/adult.data.csv', na_values = ['?'])

    # Races represented in the dataset
    race_count = race_count = df['race'].value_counts()

    # Average age of men
    average_age_men = df[df['sex'] == 'Male']['age'].mean().round(1)

    # Percentage of people who have a Bachelor's degree
    percentage_bachelors = round(df[df['education'] == 'Bachelors'].size / df.size * 100,1)

    # Percentage of people:
    ## with and without `Bachelors`, `Masters`, or `Doctorate`
    higher_education = df[((df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate'))]
    lower_education = df[~((df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate'))]

    ## Percentage with salary >50K
    higher_education_rich = round(higher_education[(higher_education['salary'] == '>50K')].size / higher_education.size * 100,1)
    lower_education_rich = round(lower_education[(lower_education['salary'] == '>50K')].size / lower_education.size ,1)

    # The minimum number of hours a person works per week 
    min_work_hours = df['hours-per-week'].min()

    # Percentage of the people who work the minimum number of hours per week have a salary of >50K
    num_min_workers = num_min_workers = df[df['hours-per-week'] == min_work_hours]

    rich_percentage = num_min_workers[num_min_workers['salary'] == '>50K'].size / num_min_workers.size

    # Country with the highest percentage of people that earn >50K
    rich_country = df['native-country'][df['salary'] == '>50K'].value_counts()
    highest_earning_country = round(rich_country / df['native-country'].value_counts() * 100,2).idxmax()
    highest_earning_country_percentage = round(rich_country / df['native-country'].value_counts() * 100,2).max()

    # The most popular occupation for those who earn >50K in India.
    top_IN_occupation = df[(df['salary'] == '>50K') & (df['native-country'] == 'India')]['occupation'].value_counts().idxmax()


    if print_data:
        print("Number of each race:\n", race_count) 
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
        print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
        print(f"Min work time: {min_work_hours} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning_country)
        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
        print("Top occupations in India:", top_IN_occupation)

    return {
        'race_count': race_count,
        'average_age_men': average_age_men,
        'percentage_bachelors': percentage_bachelors,
        'higher_education_rich': higher_education_rich,
        'lower_education_rich': lower_education_rich,
        'min_work_hours': min_work_hours,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning_country,
        'highest_earning_country_percentage':
        highest_earning_country_percentage,
        'top_IN_occupation': top_IN_occupation
    }